# ansible-vault create inventory/group_vars/prod/vault.yml  (или all/vault.yml)
vault_mysql_password: ...
vault_mysql_root_password: ...
vault_app_secret: ...
vault_telegram_bot_token: ...
vault_rabbitmq_password: ...
